.fixed-top {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  padding: 0px;
  margin: none;
  z-index: 100;
  border-bottom: 0px solid rgba(231, 231, 231, 0.18);
  background-color: transparent;
}

.navbar-fixed {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  padding: 0px;
  margin: none;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  z-index: 100;
  background-color: #f5f9fe;
}

header .active::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #b61984;
  display: block;
  border-radius: 50%;
  transform: translateX(25px) translateY(0px);
}
header #nav-vietntb {
  padding: none !important;
}
header .navbar-expand-lg .navbar-nav .nav-link, header .navbar-expand-lg .navbar-nav .socialArea a, header .socialArea .navbar-expand-lg .navbar-nav a {
  padding-right: 1.5rem;
  color: #181818;
  font-size: 15px;
  font-weight: 500;
}
header .collapse .navbar-nav {
  padding-left: 200px;
}
header .navbar-nav .nav-item a:hover {
  text-decoration: none;
  color: #b61984;
}
header .btnPhone {
  background: #b61984;
  border-radius: 20px;
  border: 2px;
  padding: 7px 20px;
  color: #f5f9fe;
  justify-content: center;
  text-align: center;
}
header .btnPhone span {
  color: #f5f9fe;
  font-size: 13.5px;
  font-weight: 500;
  justify-content: center;
}
header .btnPhone:hover {
  background: #f5f9fe;
  border: solid 1px #b61984;
  color: #181818;
  transition: all 0.5s;
  color: #b61984;
}
header .btnPhone:hover span {
  color: #b61984;
  font-size: 13.5px;
  font-weight: 500;
  justify-content: center;
}
header .socialArea a {
  font-size: 13px;
  padding-left: 10px;
  color: #181818;
}
header .socialArea a:hover {
  text-decoration: none;
  color: #b61984;
}

.taCarousel {
  width: 100%;
  padding: 60px 0 50px;
  position: relative;
}
.taCarousel .container {
  width: 100%;
  padding: 0 29px;
  top: 21px;
  z-index: 3;
}
.taCarousel .carousel_left {
  width: 55%;
  padding: 18% 0 15% 0;
}
.taCarousel .carousel_left .title h2 {
  color: #b61984;
  font-size: 16.5px;
  font-weight: 500;
}
.taCarousel .carousel_left .title h1 {
  color: #181818;
  font-size: 57px;
  font-weight: 700;
  position: relative;
}
.taCarousel .carousel_top {
  position: absolute;
  left: 0;
  top: 0;
}
.taCarousel .carousel_top img {
  width: 100%;
  height: auto;
  display: block;
}
.taCarousel .carousel_bottom {
  position: absolute;
  left: 0;
  bottom: 0;
}
.taCarousel .carousel_bottom img {
  width: 100%;
  height: auto;
  display: block;
}

.taTeacher {
  position: relative;
  background-color: #dcd1f3;
}
.taTeacher .row {
  border-radius: 10px;
  text-align: center;
  margin: auto;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}
.taTeacher .row .card {
  border-radius: 10px;
}
.taTeacher .row .card .card-body {
  text-align: center;
  padding: 20px 5px;
}
.taTeacher .row .card .card-title {
  font-size: 11.25px;
  margin-bottom: 5px;
  color: #b61984;
}
.taTeacher .row .card .card-name {
  font-size: 23.25px;
  font-weight: 700;
  color: #181818;
  padding: 2px 0;
}
.taTeacher .row .card .card-text {
  font-size: 15px;
  font-weight: 400;
  color: #181818;
  padding: 6px 0;
}
.taTeacher .row .card img {
  border-radius: 0px;
  transform-origin: 0 0;
}
.taTeacher .row .card:hover {
  box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 0.2);
  transition: all 0.8s;
}

.Teacher_top_pic {
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  pointer-events: none;
}
.Teacher_top_pic img {
  max-width: 100%;
  height: auto;
}

.taContact {
  padding-top: 100px;
  position: relative;
}
.taContact .row {
  width: 100%;
  margin: none;
}
.taContact .form_img {
  display: block;
  overflow: hidden;
}
.taContact .form_img img {
  display: block;
  margin: 0;
  line-height: 0;
  max-width: 100%;
  height: auto;
}
.taContact .form_zone form {
  width: 80%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background: #fff;
}
.taContact .form_zone form h2 {
  font-size: 37px;
  font-weight: 700;
  color: #181818;
  padding: 30px 0;
  text-align: center;
}
.taContact .form_zone form .form_name_email {
  display: flex;
  justify-content: center;
}
.taContact .form_zone form .form_name_email .name {
  display: flex;
  justify-content: center;
  max-width: 50%;
  padding-right: 1em;
  position: relative;
}
.taContact .form_zone form .form_name_email .name .fa-user {
  left: 1em;
  line-height: 1;
  position: absolute;
  top: 0.6rem;
  right: 3em;
}
.taContact .form_zone form .form_name_email .email {
  display: flex;
  justify-content: center;
  max-width: 50%;
  position: relative;
}
.taContact .form_zone form .form_name_email .email .fa-envelope {
  left: 1em;
  line-height: 1;
  position: absolute;
  top: 0.6rem;
  right: 3em;
}
.taContact .form_zone form .input-group-language {
  display: flex;
  justify-content: center;
  max-width: 50%;
  position: relative;
}
.taContact .form_zone form .input-group-language .fa-graduation-cap {
  left: 1em;
  position: absolute;
  top: 0.6rem;
}
.taContact .form_zone form textarea {
  padding: 1em 1em 1em 3.5em !important;
  height: 100px;
  line-height: 1.5;
  font-size: 0.8em !important;
  border-radius: 20px;
}
.taContact .form_zone form .input-group-messages {
  display: flex;
  justify-content: center;
  max-width: 50%;
  position: relative;
}
.taContact .form_zone form .input-group-messages .fa-message {
  left: 1em;
  position: absolute;
  top: 1rem;
}

.taContact_pic_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}
.taContact_pic_bottom img {
  max-width: 100%;
  height: auto;
}

.btnPhone {
  background: #b61984;
  border-radius: 30px;
  border: 2px;
  padding: 14px 60px;
  color: #f5f9fe;
  justify-content: center;
  text-align: center;
}
.btnPhone span {
  color: #f5f9fe;
  font-size: 13.5px;
  font-weight: 500;
  justify-content: center;
}
.btnPhone:hover {
  background: #f5f9fe;
  border: solid 1px #b61984;
  color: #181818;
  transition: all 0.8s;
  color: #b61984;
}
.btnPhone:hover span {
  color: #b61984;
  font-size: 13.5px;
  font-weight: 500;
  justify-content: center;
}

.form-group {
  width: 90%;
  color: #b61984;
  padding-right: 6px;
}
.form-group .form-control {
  padding: 0.5rem 2.2rem;
  border-radius: 20px;
}

.over {
  margin-bottom: 25px;
}

footer {
  height: auto;
  background-image: url(../img/footer_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
footer .row {
  padding: 180px 0 200px;
}
footer .row .title {
  line-height: 1.2;
}
footer .row .title h2 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  padding: 24px 0;
}
footer .row .footer-address div i {
  padding-right: 8px;
  color: #fff;
}
footer .row .footer-address span {
  color: #fff;
}
footer .row .icon-social {
  padding: 20px 0;
  margin-right: 18px;
}
footer .row .icon-social a {
  font-size: 1.5rem;
  font-weight: 200;
  color: #fff;
  text-decoration: none;
  padding-top: 5px;
  margin-right: 13px;
  transition: all 0.5s;
}
footer .row .icon-social a:hover {
  color: #181818;
}
footer .row .footer-menu a,
footer .row .footer-About a {
  width: 30%;
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
  text-decoration: none;
}
footer .row .footer-menu a:hover,
footer .row .footer-About a:hover {
  opacity: 0.6;
}
footer .row .new div {
  padding: 30px 0 20px;
  justify-content: center;
  text-align: center;
}
footer .row .new input {
  color: white;
  background-color: #b61984;
  padding: 10.5px 40px;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  text-align: center;
  width: 100%;
}
footer .row .new .btn-sub {
  width: 100%;
  background: #f5f9fe;
  border-radius: 30px;
  border: 2px;
  padding: 14px 7px;
  color: #181818;
}
footer .row .new .btn-sub:hover {
  background: #b61984;
  border: solid 1px #f5f9fe;
  color: #f5f9fe;
  transition: all 0.8s;
}/*# sourceMappingURL=main.css.map */