.taContact {
    padding-top: 100px;
    position: relative;
    .row {
        width: 100%;
        margin: none;
    }
    .form_img {
        display: block;
        overflow: hidden;
        img {
            display: block;
            margin: 0;
            line-height: 0;
            max-width: 100%;
            height: auto;
        }
    }
    .form_zone {
        form {
            width: 80%;
            margin: auto;
            border-radius: 10px;
            box-shadow: 0 30px 30px -10px rgb(0 0 0 / 20%);
            padding: 20px;
            background: $color-white-3;
            h2 {
                font-size: $fs-6;
                font-weight: $fw-4;
                color: #181818;
                padding: 30px 0;
                text-align: center;
            }
            .form_name_email {
                display: flex;
                justify-content: center;
                .name {
                    display: flex;
                    justify-content: center;
                    max-width: 50%;
                    padding-right: 1em;
                    position: relative;
                    .fa-user {
                        left: 1em;
                        line-height: 1;
                        position: absolute;
                        top: 0.6rem;
                        right: 3em;
                    }
                }
                .email {
                    display: flex;
                    justify-content: center;
                    max-width: 50%;
                    position: relative;
                    .fa-envelope {
                        left: 1em;
                        line-height: 1;
                        position: absolute;
                        top: 0.6rem;
                        right: 3em;
                    }
                }
            }
            .input-group-language {
                display: flex;
                justify-content: center;
                max-width: 50%;
                position: relative;
                .fa-graduation-cap {
                    left: 1em;
                    position: absolute;
                    top: 0.6rem;
                }
            }
            textarea {
                padding: 1em 1em 1em 3.5em !important;
                height: 100px;
                line-height: 1.5;
                font-size: 0.8em !important;
                border-radius: 20px;
            }
            .input-group-messages {
                display: flex;
                justify-content: center;
                max-width: 50%;
                position: relative;
                .fa-message {
                    left: 1em;
                    position: absolute;
                    top: 1rem;
                }
            }
        }
    }
}

.taContact_pic_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    img {
        max-width: 100%;
        height: auto;
    }
}
.btnPhone {
    @include styleButton($bg-color, 30px, $bd-1, $pd-2, $pd-7);
    color: $bg-color-white;
    justify-content: center;
    text-align: center;
    span {
        @include styleText($color-white-1, $fs-2 + 0.5, $fw-3);
        justify-content: center;
    }
    &:hover {
        @include styleButtonHover($bg-color-white, solid 1px $color-pink-1, $color-dark-1);
        transition: all 0.8s;
        color: $color-pink-1;
        span {
            @include styleText($color-pink-1, $fs-2 + 0.5, $fw-3);
            justify-content: center;
        }
    }
}
.form-group {
    width: 90%;
    color: #b61984;
    padding-right: 6px;
    .form-control {
        padding: 0.5rem 2.2rem;
        border-radius: 20px;
    }
}

//tạo margin giữa các vùng
.over {
    margin-bottom: 25px;
}
