.taTeacher {
    position: relative;
    background-color: #dcd1f3;
    // padding-top: 130px;
    .row {
        border-radius: 10px;
        text-align: center;
        margin: auto;
        width: 100%;
        padding-top: 2em;
        padding-bottom: 2em;
        .card {
            border-radius: 10px;
            .card-body {
                text-align: center;
                padding: 20px 5px;
            }
            .card-title {
                font-size: 11.25px;
                margin-bottom: 5px;
                color: #b61984;
            }
            .card-name {
                font-size: 23.25px;
                font-weight: 700;
                color: #181818;
                padding: 2px 0;
            }
            .card-text {
                font-size: 15px;
                font-weight: 400;
                color: #181818;
                padding: 6px 0;
            }
            img {
                border-radius: 0px;
                transform-origin: 0 0;
                &:hover{
                    
                }
            }
            &:hover {
                box-shadow: 0 30px 30px -20px rgb(0 0 0 / 20%);
                transition: all 0.8s;
            }
        }
    }
}
.Teacher_top_pic {
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    pointer-events: none;
    img {
        max-width: 100%;
        height: auto;
    }
}
